
:root{
  --Entire_background_color: none;
  --Entire_background_image: none;
  --Entire_text_color:black;
  --Entire_chat_border:none;
  --Entire_rem_border:none;
  --Chat_bg_image:none;
  --Common_bg_image:none;
  --Previous_bg_image:none;
  --Customise_bg_image:gainsboro;
  --Common_item_class_bg:#dbdad7;
  --Previous_item_class_bg:#e7e6e3;
  --Customise_font_li_bg:#e7e6e3;
  --Customise_font_family_bg:white;
  --Customise_font_family_bg_hover:#c7c6c4;
  --grid2_bg:rgb(204, 246, 246);
  --grid4_bg:rgb(194, 230, 230);
  --filtering_img:none;
}


[dark-theme="dark"]{

  --Entire_background_color: #2d3436;
  --Entire_background_image:linear-gradient(315deg, #2d3436 0%, #000000 74%);
  --Entire_text_color:white;
  --Entire_chat_border:2px solid white;
  --Entire_rem_border:2px solid wheat;
  --Common_bg_image: linear-gradient(315deg, #2d3436 0%, #000000 74%);;
  --Customise_bg_image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  --Previous_bg_image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  --Chat_bg_image:linear-gradient(315deg, #2d3436 0%, #000000 74%);
  --Common_item_class_bg:#40414f;
  --Previous_item_class_bg:#40414f;
  --Customise_font_li_bg:#40414f;
  --Customise_font_family_bg:#202123;
  --Customise_font_family_bg_hover:#40414f;
  --grid2_bg: #2e465f;
  --grid4_bg:#333a95;
  --filtering_img:invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}



*{
  margin:0;
  padding:0;
 
  color:var(--Entire_text_color);
}

body{
  background-color: var(--Entire_background_color);
  background-image: var(--Entire_background_image);
  background-color: #F5F5F5;
  color:var(--Entire_text_color)
}

.Chat{
  width:50%;
  margin:0em 2em 0em 2em;
  padding: 1em;
  border: var(--Entire_chat_border);
  border-radius: 20px;
  background-color: aliceblue;
  background-image: var(--Chat_bg_image);
  box-sizing: border-box;
  position: relative;
}

.Chat::before{

  background-image:url('/public/images/just_logo.jpg');
  background-size:19em 19em;
  background-repeat: no-repeat;
  background-position: center;
  content:'';
  opacity: 0.1;
  position:absolute;
  inset:0;

}

.Chat_img{
  width:1.2em;
  height:1.2em;
  border-radius: 1em;
  filter: var(--filtering_img);
}

.Chat_input{
  width:100%;
  margin:0.5em;
  border: 2px solid wheat;
  background-color:var(--Customise_font_family_bg);
}

.Chat_img_input{
  display: flex;
  align-items: center;
  margin:2em;
  isolation: isolate;
}

.Common{
  height: 350px;
  overflow: scroll;
  text-align: center;
  border-radius: 20px;
  padding:1em 0.5em;
  border: var(--Entire_rem_border);
  background-color: rgb(244 237 228);
  background-image: var(--Common_bg_image);
}

.Comm_prev{
  margin-left: 1em;
  width:25%;
}

.Comm_prev_del_image{
  position: relative;
  left:2em;
  border:2px solid black;
  width:1.5em;
  height:1.5em;
}

.Common_item_class{
  background-color: var(--Common_item_class_bg);
  border-radius: 10px;
  padding-top:0.7em;
  margin-top:0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Common_item_img,.Previous_item_img{
  width:1.2em;
  height:1.2em;
}

.Content{
  height: 600px;
  overflow-y: scroll;
  display: grid;
  grid-template-areas: "tleft tright"
                       "bleft bright";
  grid-gap:1em;
  justify-content: center;
  align-items:center;
  isolation:isolate;
}

.Content_img1{
  height:1.2em;
  width:1.2em;
  margin-left:1em;
  border-radius: 1em;
  filter:var(--filtering_img)
}



.Content_img2{
    height:2.2em;
    width:2.2em;
    border-radius: 1em;
}

.Customise{
  width: 25%;
  height:500px;
  padding:1em 0.5em;
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--Entire_rem_border);
    background-color: gainsboro;
    background-image: var(--Customise_bg_image);
    border-radius: 20px;
}

.Customise_font:hover .Customise_font_family{
  display:block;
}

.Customise_fsize:hover .Customise_font_size{
  display: block;
}

.Customise_clogo:hover .Customise_logo{
  display:block;
}

.Customise_font_li{
  background-color: var(--Customise_font_li_bg);
  padding:0.4em;
  border-radius: 1em;
  margin-top:1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Customise_font_li p{
  align-items: center;
}

.Customise_font_family,.Customise_font_size,.Customise_logo{
  display: none;
  background-color:var(--Customise_font_family_bg);
  text-align:center;
  padding:1em;
  border-radius: 10px;
}

.Customise_font_family p:hover{
  cursor:pointer;
  background-color: var(--Customise_font_family_bg_hover);
}

.Customise_font_image{
  width:0.8em;
  height:0.8em;
}

.Customise_font_size p:hover{
  cursor:pointer;
  background-color: var(--Customise_font_family_bg_hover);
}

.Customise_logo div:hover{
  cursor:pointer;
  background-color: var(--Customise_font_family_bg_hover);
}

.Customise_logo_ag{
  width:1.2em;
  height:1.2em;
  margin-left: auto;
  margin-top:1em;
  margin-bottom:0.5em;
  margin-right:auto;
  filter:var(--filtering_img);
}

.Customise nav{
  width:100%;
}

.Customise nav ul{
  list-style-type: none;
  
}

 

.Entire{
  display: flex;
  justify-content: stretch;
}

.fe_start_row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fe_start_row_image{
  image-rendering: pixelated;
  margin:0 1em 0 1em;
  width:1.2em;
  height:1.2em;
}


.grid1{
  grid-area:"tleft";
}

.grid2{
  grid-area:"tright";
  border-radius: 10px;
  padding:0.4em;
  background-color: var(--grid2_bg);
}

.grid3{
  grid-area:"bleft";
}

.grid4{
  grid-area:"bright";
  border-radius: 10px;
  padding:0.4em;
  background-color: var(--grid4_bg);
}

.Par_Customise_image{
  border:2px solid black;
  position: relative;
  right:5em;
  top:-3em;
}

.Par_customise_del_image{
  width:1.2em;
  height:1.2em;
}

.Par_customise_mob{
  display: flex;
}

.Previous{
  height: 350px;
  overflow: scroll;
  text-align: center;
  padding:1em 0.5em;
  margin-top:2.5em;
  border-radius:20px;
  border: var(--Entire_rem_border);
  background-color: rgb(201, 204, 207);
  background-image: var(--Previous_bg_image);
}

.Previous_item_class{
  background-color: var(--Previous_item_class_bg);
  border-radius: 10px;
  margin-top:0.7em;
  display:flex;
  justify-content:center;
}

.Previous_item{
  padding:0.5em;
   margin-top:auto;
   margin-bottom: auto;

}

.Previous_item_img{
  align-items: center;
}

.toggle{
  display:flex;
  align-items: center;
}

.toggle_button{
  width:4em;
  height:2em;
  margin-left:0.2em;
  border-radius: 1em;
  background-color: #555553;
}

.toggle_inner_circle{
  background-color: white;
  width:2em;
  height:2em;
  border-radius: 4em;
  transition: margin 0.5s;
}


/* Media queries are to be written at last to override 
some properties */

@media screen and (max-width:600px) {
  .Comm_prev,.Customise{
   border : 2px solid rgb(68, 66, 63);
   border-radius: 1em;
   position: absolute;
  }
  .Chat{
    position: relative;
    width: 100%;
  }
}


@media screen and (min-width:600px) {

  .Comm_prev{
    display:block;
   }

   .Customise{
    display:flex;
   }

  .fe_start_row_image{
    display: none;
  }

  .Par_Customise_image{
    display: none;
  }

  .fe_start_row{
    display: block;
  }
  
}

