
.Chat{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.Chat_img{
  width:1.2em;
  height:1.2em;
}

.Chat_input{
  width:100%;
  margin:0.5em;

}

.Common{
  height: 300px;
  overflow: scroll;
  text-align: center;
  background-color: rgb(245, 242, 237);
}

.Comm_prev{
  border: 2px solid rgb(178, 174, 174);
  width:25%;
}

.Entire{
  display: flex;
}

.Previous{
  height: 300px;
  overflow: scroll;
  text-align: center;
  background-color: rgb(201, 204, 207);
}
